{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/styles.css'%}" />
{% endblock %}

{% block title %}
    Предложения
{% endblock %}

{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                {% include 'offer_for_personal_include.html' %}
                {% if page_obj.has_other_pages %}
                    {% include 'pagination_include.html' %}
                {% endif %}
            {% else %}
                {% include 'offer_for_client_include.html' %}
                {% if page_obj.has_other_pages %}
                    {% include 'pagination_include.html' %}
                {% endif %}
            {% endif %}
        {% else %}
            <h1 class="text-center m-2 text-primary">
                Оставлять предложения и пожелания могут только зарегистрированные пользователи!
            </h1>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const replyButtons = document.querySelectorAll('.reply-button');

        replyButtons.forEach(button => {
            button.addEventListener('click', function() {
                const offerId = this.getAttribute('data-offer-id');
                const replyForm = document.getElementById('reply-form-' + offerId);

                if (replyForm.style.display === 'none' || replyForm.style.display === '') {
                    replyForm.style.display = 'block';
                } else {
                    replyForm.style.display = 'none';
                }
            });
        });

        const cancelButtons = document.querySelectorAll('.cancel-button');
        cancelButtons.forEach(button => {
            button.addEventListener('click', function() {
                const replyForm = this.closest('.reply-form');
                replyForm.style.display = 'none';
            });
        });
    });
</script>
{% endblock %}