{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/styles.css'%}" />
{% endblock %}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center d-none d-md-flex">
        {% if page_obj.has_previous %}
            {% if page_obj.paginator.num_pages > 2 %}
                <li class="page-items {% if not page_obj.has_previous %}disabled{% endif %}">
                    <a class="page-link" href="?page=1&{{ search_query }}">
                        <i class="bi bi-arrow-bar-left"></i><span aria-hidden="true"> Первая</span>
                    </a>
                </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ search_query }}">
                    <i class="bi bi-arrow-left-circle"></i><span aria-hidden="true"> Предыдущая</span>
                </a>
            </li>
            {% if page_obj.previous_page_number != 1 %}
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ search_query }}">
                    {{ page_obj.previous_page_number }}
                </a>
            </li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">{{ page_obj.number }}</span>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ search_query }}">
                    {{ page_obj.next_page_number }}
                </a>
            </li>
            {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ search_query }}">
                    <i class="bi bi-arrow-right-circle"></i><span aria-hidden="true"> Следующая</span>
                </a>
            </li>
            {% if page_obj.paginator.num_pages > 2 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&{{ search_query }}">
                        <i class="bi bi-arrow-bar-right"></i><span aria-hidden="true"> Последняя</span>
                    </a>
                </li>
            {% endif %}
        {% endif %}
    </ul>

    <ul class="pagination justify-content-between d-flex d-md-none">
         <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class="page-link" href="?page=1&{{ search_query }}">
                 <i class="bi bi-arrow-bar-left"></i>
            </a>
         </li>
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}
            {% else %}#{% endif %}&{{ search_query }}">
                <i class="bi bi-arrow-left-circle"></i>
            </a>
        </li>
        <li class="page-item active">
            <span class="page-link">{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
        </li>
        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}
            {% else %}#{% endif %}&{{ search_query }}">
                <i class="bi bi-arrow-right-circle"></i>
            </a>
        </li>
        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&{{ search_query }}">
                <i class="bi bi-arrow-bar-right"></i>
            </a>
        </li>
    </ul>
</nav>

