{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/styles.css'%}" />
{% endblock %}

{% block title %}
    Исключение слова
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <a href="{% url 'tests:testing' %}"
       class="btn btn-success d-flex m-2 align-items-center">
        <i class="bi bi-arrow-left-circle-fill fs-4"></i>
        <span class="ms-2">К списку тестов</span>
    </a>
</div>
<div class="container mx-auto mb-2">
    <div class="row align-items-center">
        <div class="col-md-3 mb-3 d-flex flex-column align-items-center">
            <h6 id="timer_text" class="text-danger"></h6>
            <h1 id="timer"
                class="border border-danger rounded-circle text-danger d-flex justify-content-center align-items-center"
                style="width: 80px; height: 80px;">180</h1>
        </div>
        {% for question in questions_test %}
            <div class="col-md-6 m-3 align-self-start"
                 id="question{{ question.id }}"
                 style="display: {% if question.id > 1 %}none{% else %}block{% endif %};">
                <div class="card">
                    <div class="card-body">
                        <strong>Вопрос № {{ question.pk }}</strong><br>
                        {{ question.question|safe }}
                        <div class="form-check form-switch ms-5">
                            <input type="radio"
                                   value="{{ question.answer1 }}"
                                   id="{{ question.id }}answer1"
                                   name="question{{ question.id }}"
                                   class="form-check-input fs-2"
                                   role="switch">
                            <label class="form-check-label fs-3"
                                   for="{{ question.id }}answer1">
                                {{ question.answer1 }}
                            </label>
                        </div>
                        <div class="form-check form-switch ms-5">
                            <input type="radio"
                                   value="{{ question.answer2 }}"
                                   id="{{ question.id }}answer2"
                                   name="question{{ question.id }}"
                                   class="form-check-input fs-2"
                                   role="switch">
                            <label class="form-check-label fs-3"
                                   for="{{ question.id }}answer2">
                                {{ question.answer2 }}
                            </label>
                        </div>
                        <div class="form-check form-switch ms-5">
                            <input type="radio"
                                   value="{{ question.answer3 }}"
                                   id="{{ question.id }}answer3"
                                   name="question{{ question.id }}"
                                   class="form-check-input fs-2"
                                   role="switch">
                            <label class="form-check-label fs-3"
                                   for="{{ question.id }}answer3">
                                {{ question.answer3 }}
                            </label>
                        </div>
                        <div class="form-check form-switch ms-5">
                            <input type="radio"
                                   value="{{ question.answer4 }}"
                                   id="{{ question.id }}answer4"
                                   name="question{{ question.id }}"
                                   class="form-check-input fs-2"
                                   role="switch">
                            <label class="form-check-label fs-3"
                                   for="{{ question.id }}answer4">
                                {{ question.answer4 }}
                            </label>
                        </div>
                        <div class="form-check form-switch ms-5">
                            <input type="radio"
                                   value="{{ question.answer5 }}"
                                   id="{{ question.id }}answer5"
                                   name="question{{ question.id }}"
                                   class="form-check-input fs-2"
                                   role="switch">
                            <label class="form-check-label fs-3"
                                   for="{{ question.id }}answer5">
                                {{ question.answer5 }}
                            </label>
                        </div><br>
                        <div class="text-end">
                            <button onclick="answer({{ question.id }}, {{ questions_test.count }}, '{{ question.correct_answer }}')"
                                    class="btn btn-info text-end">
                                {% if question.id < questions_test.count %}
                                    Следующий вопрос
                                {% else %}
                                    Завершить тест
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div id="result-container" class="col-md-6 m-3 align-self-start" style="display: none;">
            <div class="card">
                <div class="card-body">
                    Вы проходили тест <strong>"Исключение слова"</strong>
                </div>
                <div id="balls" class="card-body"></div>
                <div id="result" class="card-body"></div>
            </div>
        </div>
        <div class="col-md-3 mb-3 align-self-start"></div>
    </div>
</div>
<input type="hidden" id="csrf_token" value="{{ csrf_token }}">
{% endblock %}
