<div class="col-md-3 mb-3 align-self-start d-flex flex-column">
    <a href="{% url 'users:client' user.pk %}"
       class="btn {% if request.resolver_match.view_name == 'users:client' %}btn-primary
       {% else %}btn-info{% endif %} btn-block mb-2">
       <span><i class="bi bi-house m-2"></i>Личный кабинет</span>
    </a>
    <a href="{% url 'users:client_update' user.pk %}"
       class="btn {% if request.resolver_match.view_name == 'users:client_update' %}btn-primary
       {% else %}btn-info{% endif %} btn-block mb-2">
       <span><i class="bi bi-pencil m-2"></i>Редактировать данные</span>
    </a>
    <a href="{% url 'users:client_comments' user.pk %}"
       class="btn {% if request.resolver_match.view_name == 'users:client_comments' %}btn-primary
       {% else %}btn-info{% endif %} btn-block mb-2">
       <span><i class="bi bi-stars m-2"></i>Мои отзывы</span>
    </a>
    <a href="{% url 'users:client_consultations' user.pk %}"
       class="btn {% if request.resolver_match.view_name == 'users:client_consultations' %}btn-primary
       {% else %}btn-info{% endif %} btn-block mb-2">
       <span><i class="bi bi-clipboard-data m-2"></i>Мои консультации</span>
    </a>
    <a href="{% url 'users:client_trainings' user.pk %}"
       class="btn {% if request.resolver_match.view_name == 'users:client_trainings' %}btn-primary
       {% else %}btn-info{% endif %} btn-block mb-2">
       <span><i class="bi bi-briefcase-fill m-2"></i>Мои тренинги</span>
    </a>
    <a href="{% url 'users:client_testing' user.pk %}"
       class="btn {% if request.resolver_match.view_name == 'users:client_testing' %}btn-primary
       {% else %}btn-info{% endif %} btn-block mb-2">
       <span><i class="bi bi-ui-checks m-2"></i>Мои тесты</span>
    </a>
</div>