{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/styles.css'%}" />
{% endblock %}

<h1 class="text-center m-2 text-primary">Помогите нам стать лучше!</h1>
<p class="fst-italic text-center m-2 fs-5">
    Мы ценим ваше мнение и хотим знать, как можем улучшить наши услуги.
</p>
<p class="fst-italic text-center m-2 fs-5">
    Пожалуйста, поделитесь своими предложениями и пожеланиями.
</p>
{% if is_blacklisted %}
    <h2 class="text-center m-2 text-danger">
        К сожалению, Вы находитесь в черном списке и не можете оставлять предложения
    </h2>
{% else %}
    <form method="post" action="{% url 'information:offers' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="page" value="{{ request.GET.page }}">
        <button type="submit" class="btn btn-sm btn-success m-1">Отправить</button>
    </form>
{% endif %}
<hr>
{% for offer in offers %}
    <div class="bg-light other-comment mb-3 p-3 rounded">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <small class="text-muted">
                <i class="bi bi-clock me-1"></i>
                {{ offer.published_date|date:"d M Y H:i" }}
            </small>
        </div>
        <div class="mb-2">{{ offer.text }}</div>
    </div>
    {% include 'answer/answer_include.html' %}
{% endfor %}
