{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/styles.css'%}" />
{% endblock %}

{% if not user.is_superuser %}
<a href="{% url 'admin:events_consultation_changelist' %}?psychologist__id__exact={{ user.id }}&q="
    class="btn btn-info btn-block ms-5" target="_blank" rel="noopener noreferrer">
       <span><i class="bi bi-archive m-2"></i>Архив консультаций</span>
</a>
<h4 class="card-title text-center p-1 text-success">
    Ваше расписание:
</h4>
<div class="row align-items-center m-2">
    <div class="col-md-1 align-self-start">
        <div class="card">
            <div class="card-body">
                <p class="card-text fst-italic">
                    Время
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-2 align-self-start">
        <div class="card">
            <div class="card-body">
                <p class="card-text fst-italic">
                    Статус консультации
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 align-self-start">
        <div class="card">
            <div class="card-body">
                <p class="card-text fst-italic">
                    Информация о клиенте
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3 align-self-start">
        <div class="card">
            <div class="card-body">
                <p class="card-text fst-italic">
                    Краткое описание проблемы клиента
                </p>
            </div>
        </div>
    </div>
</div>
{% for date in dates %}
    <div class="btn btn-info m-1 mt-3 disabled" tabindex="-1" aria-disabled="true">
        {{ date}}, {{ date|date:"l" }}
    </div>
        {% for consultation in consultations %}
            {% if consultation.date == date %}
                <div class="row align-items-center m-2">
                    <div class="col-md-1 align-self-start">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">
                                    {{consultation.time|time:'H:i'}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 align-self-start">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">
                                    {{consultation.get_status_display }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 align-self-start">
                        <div class="card">
                            <div class="card-body">
                                {% if consultation.client %}
                                    <p class="card-text text-success fst-italic">
                                        {{consultation.client.first_name}} {{consultation.client.last_name}}
                                    </p>
                                {% else %}
                                    <p class="card-text text-light fst-italic">
                                        Здесь будет информация о клиенте
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3 align-self-start">
                        <div class="card">
                            <div class="card-body">
                                {% if consultation.description != 'Причина обращения к психологу' %}
                                    <p class="card-text text-success fst-italic">
                                        {{consultation.description}}
                                    </p>
                                {% else %}
                                    <p class="card-text text-light fst-italic">
                                        Здесь будет причина обращения к психологу
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
{% endfor %}
{% else %}
    <h4 class="card-title text-center p-1 text-success">
        Список консультаций для Вас доступен в админпанели
    </h4>
{% endif %}
